* {
    margin: 0;
    padding: 0;
    font-family: 'BodoniModa';
  }

@font-face {
font-family: 'BodoniModa';
src: url('../../../public/BodoniModa-VariableFont_opsz\,wght.ttf');
}

#body-override {
    height: 100vh;
    padding: 3% 0;
    width: 90%;
    background-color: rgb(161,203,209);
    color: rgb(245,242,223);
    margin: 0 auto;
}

.mainButton {
    color: rgb(161,203,209);
    background-color: rgb(245,242,223);
    border: none;
    border-radius: 6px;
    height: 50px;
    width: 100%;
    font-size: 1.5em;
}

.maxWidth {
    width: 100%;
}

/* Top of Auth Page Logo Title Area */
.logoArea {
    display: flex;
    width: 100%;
    height: 10vh;
    padding: 3% 5%;
}
.logo {
    width: 60px;
    height: 60px;
    margin-right: 5px;
}
.authPageTitle {
    font-size: 3.5em;
}

/* Middle Segment of Auth Page*/

.middleSegment {
    display: flex;
    height: 70vh;
}
.commercialSegment{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 15% 5% 0% 5%;
}

.authSegment {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 5%;
}

.formContainer {
    border: solid 2px rgb(245,242,223);
    border-radius: 5px;
    width: 90%;
    max-width: 550px;
    height: 40vh;
    padding: 5% 9%;
    display: flex;
}

/* Login Form*/

.noBotMargin {
    margin-bottom: 0px;
}

.inputFormat {
    margin-top: 5px;
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 3px solid rgb(245,242,223);

}

.moreMargin {
    margin-bottom: 50px;    
}

.loginForm {
    width: 100%;
    display: flex;
    flex-direction:column;
}

.buttonBegone {
    border:none;
    background-color: rgb(161,203,209);
    color: rgb(245,242,223);
    margin-bottom: 120px;
}

.lessMargin {
    margin-bottom: 50px;    
}

.lowerMargin {
    margin-bottom: 20px;
}

.buttonBegone:hover{
    color: #fff;
}

.signUpFormContainer {
    height: 50vh;
}

.mainButton:hover {
    background-color: #fff;
}

/* NavBar */

.navBar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.inLine {
    display: flex;
    align-items: center;
}

.smallerLogo {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-top: 0px;
}

.navCompanyTitle {
    font-size: 2em;
    color: rgb(245,242,223);
    text-decoration: none;
    margin-right: 40px;
}

.navLinks {
    font-size: 1em;
    color: rgb(245,242,223);
    text-decoration: none;
    margin: 0px 10px;
}

.vertLine {
    border-left: 0.5px solid rgba(245, 242, 223, 0.5);
    height: 30px;
}

.logOutBtn {
    font-size: 1em;
    border:none;
    background-color: rgb(161,203,209);
    color: rgb(245,242,223);
    margin: 0px 10px;
}

.helpBtn {
    font-size: 1em;
    margin: 0px 10px;
}

.navLinks:hover, .helpBtn:hover, .logOutBtn:hover, .navCompanyTitle:hover {
    color: #fff;
    cursor: pointer;
}

/* Fridge Page*/

.itemDisplay {
    display: flex;
    align-items: center;
}

.delBtn {
    margin-left: 15px;;
    border: none;
    background-color: rgb(161,203,209);
    color: red;
}

.itemFormFontColor{
    color: rgb(161,203,209);
}

.modal-header,.modal-body {
    background-color: rgb(245,242,223);
}

.itemBtn {
    color: rgb(245,242,223);
    border: none;
    background-color: rgb(161,203,209);
    border-radius: 6px;
    height: 50px;
    width: 100%;
    font-size: 1.5em;
}

.itemBtn:hover {
    background-color: #fff;
    color: rgb(161,203,209);
}

.itemFormTitle {
    font-size: 2em;
    margin-bottom: 0px;
}
.modal-body {
    border-radius: 10px;
}

.addBtn {
    background-color: rgb(161,203,209);
    color: rgb(245,242,223);
    border: 1px solid rgb(245,242,223);
    padding: 5px 30px;
    border-radius: 5px;
    width: 100px;
    margin: 0 auto;
}

.fridgePage {
    display: flex;
    width: 100%;
    height: 80vh;
}

.canvas {
    height: 60%;
    min-height: 500px;
    max-height: 700px;
    width: 80%;
    min-width: 400px;
    max-width: 650px;
    
}

.modelSegment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.inventorySegment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 4;
}

.row1, .row2, .row3 {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    height: 25vh;
}

.spacer {
    width: 30%;
    max-width: 350px;
}

/* category tables */
.catTable {
    width: 30%;
    max-width: 350px;
    height: 250px;
    padding: 15px;
    background-color:  rgb(245,242,223);
    color: rgb(161,203,209);
    border-radius: 30px;

}

.theTable {
    width: 100%;
    height: 200px;
    display:block;
}

.theTable h5{
    margin-bottom: 10px;
}
.theTable thead, .theTable tbody { display: block; }

.theTable tbody {
    height: 150px;      
    overflow-y: auto;   
    overflow-x: hidden;  
}

.tableRow {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.nameCol {
    width: 70px;
}

.expCol {
    margin-left: 15px;
}


.theTable tbody::-webkit-scrollbar {
    width: 15px;        
}

.theTable tbody::-webkit-scrollbar-track {
    width: 10px;   
    background: rgb(245,242,223);       
}

.theTable tbody::-webkit-scrollbar-thumb {
    width: 10px;  
    background-color: rgb(161,203,209);   
    border-left: 4px rgb(245,242,223) solid; 
}

.horizontalLine {
    margin: 5px 0px;
    width: 100%;
    padding: 0;
}

.inlineSpan {
    display: flex;
    justify-content: space-between;
}

.inlineSpan h5 {
    margin-bottom: 5px;
}

.detailBtn {
    background-color: rgb(161,203,209, 0);
    color: rgb(161,203,209, 0);
    border: none;
    margin-bottom: 5px;
}

.detailName {
    width: 150px;
}


.detailAmt{
    width: 80px;
    display: flex;
}

.detailExp {
    width: 105px;
}

.solveMargin {
    width: 60px;
}

.solveMarginMore {
    width: 45px;
}

.detailDel {

}

.detailImg {
    width: 20px;
}

.detailImg:hover {
    filter: brightness(0) invert(1);
}

.zoomTable {
    width: 100%;
    max-width: 900px;
    height: 60vh;
    padding: 60px;
    background-color:  rgb(245,242,223);
    color: rgb(161,203,209);
    border-radius: 30px;
}

.zoomTable > .theTable > thead {
    margin: 10px 0px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.zoomTable > .theTable > hr {
    border-top: 3px rgb(161,203,209) solid; 
}

.zoomTable > .theTable > tbody {
    font-size: 1.25em;
    height: 550px;
}

.theTable h1 {
    display: inline;
}
.exitDetailBtn {
    display: inline;
    background-color: rgb(161,203,209, 0);
    border: none;
    font-size: 1.5em;
    color: rgb(216, 72, 36);
}

.exitDetailBtn:hover, .deleteBtn:hover {
    color: #fff;
    cursor: pointer;
}

.zoomRow {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

.deleteBtn {
    color: rgb(216, 72, 36);
}



